<% content_for(:title, 'Search best cities') %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/cities">Cities</a></li>
  <li class="active">Search</li>
</ol>

<h1>Results</h1>

<p>
  <% if page > 1 %>
    Page <%= page %> of
  <% end %>
  <%= pluralize(cities.total_count, 'city') %>
</p>

<% if cities.count > 0 %>
  <ul>
    <% cities.each do |city| %>
      <li><%= link_to(city.title, city) %></li>
    <% end %>
  </ul>
<% end %>

<%= paginate cities %>

<hr>

<h2>Search</h2>

<%= render 'form_search' %>

<hr>

<p>
  Sources:
  <%= link_to('GeoNames Gazetteer', 'http://download.geonames.org/export/dump/')%>,
  <%= link_to('World Port Index', 'http://msi.nga.mil/NGAPortal/MSI.portal?_nfpb=true&_pageLabel=msi_portal_page_62&pubCode=0015')%>,
  <%= link_to('Ultras Project', 'http://www.peaklist.org/ultras.html')%>
</p>
