<% content_for(:title, city.title) %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/cities">Cities</a></li>
  <li class="active"><%= city.title %></li>
</ol>

<h1><%= city.title %></h1>

<dl class="dl-horizontal">
  <dt>Population</dt><dd><%= city.population.to_s(:delimited) %></dd>
  <dt>Elevation</dt><dd><%= city.elevation.to_s(:delimited) %> m</dd>
</dl>

<% if city.seaports.count > 0 %>
  <h2>Seaports</h2>
  <ul>
    <% city.seaports.each do |seaport| %>
      <li><%= seaport.name %></li>
      <ul>
        <li>Distance: <%= (seaport.distance / 1000).to_s(:delimited) %> km</li>
      </ul>
    <% end %>
  </ul>
<% end %>

<% if city.mountains.count > 0 %>
  <h2>Mountains</h2>
  <ul>
    <% city.mountains.each do |mountain| %>
      <li><%= mountain.name %></li>
      <ul>
        <li>Distance: <%= (mountain.distance / 1000).to_s(:delimited) %> km</li>
        <li>Elevation: <%= mountain.elevation.to_s(:delimited) %> m</li>
      </ul>
    <% end %>
  </ul>
<% end %>
