<% content_for(:title, city.title) %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/cities">Cities</a></li>
  <li class="active"><%= city.title %></li>
</ol>

<h1><%= city.title %></h1>

<dl class="dl-horizontal">
  <dt>Population</dt><dd><%= city.population.to_s(:delimited) %></dd>
  <dt>Elevation</dt><dd><%= city.elevation.to_s(:delimited) %> m</dd>
</dl>

<h2>Temperatures</h2>
<%= line_chart [
  { name: 'Minimum Temperature', data: Date::MONTHNAMES[1..-1].zip(city.min_temperatures) },
  { name: 'Mean Temperature', data: Date::MONTHNAMES[1..-1].zip(city.mean_temperatures) },
  { name: 'Maximum Temperature', data: Date::MONTHNAMES[1..-1].zip(city.max_temperatures) }
  ], colors: %w(#fecc5c #fd8d3c #e31a1c), discrete: true, library: { tooltip: { valueSuffix: ' °C' } } %>

<h2>Precipitations</h2>
<%= column_chart [
  { name: "Precipitation", data: Date::MONTHNAMES[1..-1].zip(city.precipitations) }
  ], colors: %w(#0570b0), library: { tooltip: { valueSuffix: ' mm' } } %>

<% if city.find_seaports.count > 0 %>
  <h2>Seaports</h2>
  <ul>
    <% city.find_seaports.each do |seaport| %>
      <li><%= seaport.name %></li>
      <ul>
        <li>Distance: <%= (seaport.distance / 1000).to_s(:delimited) %> km</li>
      </ul>
    <% end %>
  </ul>
<% end %>

<% if city.find_mountains.count > 0 %>
  <h2>Mountains</h2>
  <ul>
    <% city.find_mountains.each do |mountain| %>
      <li><%= mountain.name %></li>
      <ul>
        <li>Distance: <%= (mountain.distance / 1000).to_s(:delimited) %> km</li>
        <li>Elevation: <%= mountain.elevation.to_s(:delimited) %> m</li>
      </ul>
    <% end %>
  </ul>
<% end %>

<% if city.neighbors.count > 0 %>
  <h2>Nearby Cities</h2>
  <ul>
    <% city.neighbors.to_a.first(10).each do |neighboor| %>
      <li><%= link_to neighboor.title, neighboor %> (<%= (neighboor.distance / 1000).to_s(:delimited) %> km)</li>
    <% end %>
  </ul>
<% end %>

<hr>

<p>
  Sources:
  <%= link_to('GeoNames Gazetteer', 'http://download.geonames.org/export/dump/') %>,
  <%= link_to('WorldClim', 'http://www.worldclim.org/current') %>,
  <%= link_to('World Port Index', 'http://msi.nga.mil/NGAPortal/MSI.portal?_nfpb=true&_pageLabel=msi_portal_page_62&pubCode=0015') %>,
  <%= link_to('Ultras Project', 'http://www.peaklist.org/ultras.html') %>
</p>
