<!DOCTYPE html>
<html>
  <head>
    <title>Cities</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row map-wrapper">
      <div class="col-sm-4" id="legend">
        <%= yield %>
      </div>
      <div class="col-sm-8" id="map">
        <script>
          genMap(<%= results.to_json.html_safe %>);
        </script>
      </div>
    </div>
  </body>
</html>
